
.encabezado{
    background-image: url(images/cat1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
body{
    margin: 0px;
}
.titulo{
    text-align: center;
    color: aliceblue;
    font-size: 80pt;
    /*completar*/
}

.foto{
    max-width:300px;
    max-height: 200px;
}

.medio{
    padding-left: 15%;
    padding-top: 50px;
    display: flex;
    
}

.contenedor-img{
    position: relative;
    margin: 3px;
    height: auto;
    width: auto;
}

.text-block {
    position: absolute;
    left: 40%;
    top: 80%;
    text-align: center;
    height: 37px;
    width: 60%;
    color: white;
    background-color: black;
    opacity: 0.6; 
    padding-bottom: 5px;
}
.text-block-different{
    background-color:white;
    color:black;
    opacity: 0.6;
}